@use '@angular/material' as mat;
.client-layout-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.client-layout {
  display: flex;
  width: 100%;
  margin-top: 75px;
}
.client-side-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    var(--side-navbar-first-bg-color),
    var(--side-navbar-second-bg-color)
  );
  width: 18%;
  position: relative;
  flex-shrink: 0;
}
.client-content {
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
}
