*{
    font-family:nunito, sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.navbar{
    width:100%;
    height:75px;
    background-color:#473619;
    position:absolute;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
     background-image: linear-gradient(to bottom, #2e2310, #473619);
}

.footer{
    width:100%;
    height:100px;
    background-color:#493C1D;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo{
    background-color: #E5D7C4;
    width:170px;
    height:50px;
    margin:10px;
    text-align: center;
    border-radius: 15px;
}

.navcontent{
    display: flex;
    gap: 18px;
    align-items: center;
}

.navcontent a{
    color: #C7B18C;
    padding: 8px 12px;
}

.navcontent a:hover{
    color:#9e8a68;

}

.navcontent a{
     display: flex;
    justify-content: space-between;
    padding-left:25px;
    text-align:center;
    border-left:1px solid #C7B18C;
}

.primarybtn{
    background-color: #354024;
    padding: 10px 20px;
    border-radius: 5px;
    border-color:#C7B18C;
    color:#C7B18C;
    font-size:medium;
    box-shadow: 0px 4px 6px #25190b;
}
.primarybtn:hover{
    background-color: #424F2D;
    color:#C7B18C;
    border-color:#C7B18C;
}
.primarybtn:active{
    background-color: #252D19;
    color:#C7B18C;
    border-color:#C7B18C;
}
.secondarybtn{
    background-color: #C7B18C;
    padding: 10px 20px;
    border-radius: 5px;
    border-color:#51432D;
    color:#51432D;
    font-size:medium;
    box-shadow: 0px 4px 6px #25190b;
}

.secondarybtn:hover{
    background-color: #D9C6A5;
    color:#51432D;
    border-color:#51432D;
}

.secondarybtn:active{
    background-color: #B39B71;
    color:#51432D;
    border-color:#51432D;
}
.header{
    width:100%;
    height:550px;
    background-image: url("../public-layout/images/header-photo.jpg");
    background-size: cover;
    background-position-y:-100px;
    top:75px;
    position:absolute;
    left:0;
    right:0;
    margin-bottom:30px;
}

.header p{
    font-size:72px;
    color:#E5D7C4;
    text-align:center;
    padding-top:75px;
    font-weight:bold;
    text-shadow: 2px 7px 4px #2a2724;
    width:55%;
    margin:auto;
}
.header span{
    font-size:24px;
    color:#E5D7C4;
    text-align:center;
    display:block;
    margin-top:20px;
    text-shadow: 1px 4px 3px #2a2724;
    width:50%;
    margin:auto;
    font-weight:lighter;
}

.header .sel{
    margin-top:10px;
    margin-right:30px;
    border-radius:100px;
    background-color: #F3E9DB;
    padding:15px;
    padding-right:20px;
    padding-left:20px;
    font-size:large;
    font-style:italic;
    font-weight:lighter;
    color:#493C1D;
}
.header .options{
    display:flex;
    justify-content:center;
}
.header .search-btn{
    margin-top:20px;
    display:flex;
    justify-content:center;
}

.header .search-btn .primarybtn{
     padding:15px 50px;
     font-size:large;
}
