.footer {
  width: 100%;
  height: 100px;
  background-color: #493c1d;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.header {
  width: 100%;
  height: 550px;
  background-image: url('../public-layout/images/header-photo.jpg');
  background-size: cover;
  background-position-y: -100px;
  top: 75px;
  position: absolute;
  left: 0;
  right: 0;
  margin-bottom: 30px;
}

.header p {
  font-size: 72px;
  color: #e5d7c4;
  text-align: center;
  padding-top: 55px;
  font-weight: bold;
  text-shadow: 2px 7px 4px #2a2724;
  width: 65%;
  margin: auto;
}
.header span {
  font-size: 24px;
  color: #e5d7c4;
  text-align: center;
  display: block;
  margin-top: 20px;
  text-shadow: 1px 4px 3px #2a2724;
  width: 50%;
  margin: auto;
  font-weight: lighter;
}

.header .sel {
  margin-top: 10px;
  margin-right: 30px;
  border-radius: 100px;
  background-color: #f3e9db;
  padding: 15px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: large;
  font-style: italic;
  font-weight: lighter;
  color: #493c1d;
}
.header .options {
  display: flex;
  justify-content: center;
}
.header .search-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.header .search-btn .primarybtn {
  padding: 15px 50px;
  font-size: large;
}
