<!doctype html>
<html lang="en">
  <head>
    <title>PawPal</title>
  </head>
  <body class="main-page-layout">
    <app-navbar [roleId]="currentUser.roleid()"></app-navbar>
    <div class="header">
      <p>NEED A NEW MEMBER OF YOUR FAMILY?</p>
      <span
        >Connect with animal lovers across Bosnia and Herzegovina with our services and adopt an
        animal today!</span
      >
      <br />
      <div class="options">
        @if (imagesLoaded) {
          <mat-select
            class="sel"
            placeholder="Select an animal category"
            [(ngModel)]="selectedCategory"
            (valueChange)="showCategory()"
          >
            @for (cat of animalCategories.items; track cat) {
              <mat-option [value]="cat.categoryName">{{ cat.categoryName }}</mat-option>
            }
          </mat-select>
        }
        @if (imagesLoaded) {
          <mat-select class="sel" placeholder="Select a canton" [(ngModel)]="selectedCanton">
            @for (cant of cantons.items; track cant) {
              <mat-option [value]="cant.id">{{ cant.fullName }}</mat-option>
            }
          </mat-select>
        }
      </div>
      <div class="search-btn">
        <button class="primarybtn" (click)="searchCatalog()">SEARCH</button>
      </div>
      <app-footer></app-footer>
    </div>
  </body>
</html>
