<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PawPal</title>
  </head>
  <body>
    <app-navbar [roleId]="currentUser.roleid()"></app-navbar>
    <div class="header">
      <p>NEED A NEW MEMBER OF YOUR FAMILY?</p>
      <span
        >Connect with animal lovers across Bosnia and Herzegovina with our services and adopt an
        animal today!</span
      >
      <br />
      <div class="options">
        <mat-select class="sel" placeholder="Select an animal category">
          @for (cat of animalCategories.items; track cat) {
          <mat-option>{{ cat.categoryName }}</mat-option>
          }
        </mat-select>
        
        <mat-select class="sel" placeholder="Select a city">
          @for (city of cities.items; track city) {
          <mat-option>{{  city.name }}</mat-option>
          }
        </mat-select>

      </div>
      <div class="search-btn">
        <button class="primarybtn">SEARCH</button>
      </div>
      <app-footer></app-footer>
    </div>
  </body>
</html>
