<!doctype html>
<html lang="en">
  <head>
    <title>PawPal</title>
  </head>
  <body class="main-page-layout">
    <app-navbar [roleId]="currentUser.roleid()"></app-navbar>
    <div class="header">
      <p>NEED A NEW MEMBER OF YOUR FAMILY?</p>
      <span
        >Connect with animal lovers across Bosnia and Herzegovina with our services and adopt an
        animal today!</span
      >
      <br />
      <div class="options">
        @if (imagesLoaded) {
          <mat-form-field>
            <mat-select
              class="sel"
              placeholder="Select an animal category"
              [(ngModel)]="selectedCategory"
              (valueChange)="showCategory()"
            >
              @for (cat of animalCategories.items; track cat) {
                <mat-option [value]="cat.categoryName">{{ cat.categoryName }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        @if (imagesLoaded) {
          <mat-form-field>
            <mat-select class="sel" placeholder="Select a canton" [(ngModel)]="selectedCanton">
              @for (cant of cantons.items; track cant) {
                <mat-option [value]="cant.id">{{ cant.fullName }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </div>
      <div class="search-btn">
        <button class="primarybtn" (click)="searchCatalog()">SEARCH</button>
      </div>
      <!--
       <div class="catalog-latest-container">
      <p class="catalog-latest-container-title">Check out our newest posts!</p>
      <div class="catalog-container">
        <div [class]="imagesLoaded ? 'header-posts' : 'header-posts-unloaded'">
          @if (imagesLoaded) {
            @for (post of postList?.items; track post; let i = $index) {
              <div class="post" (click)="routeToPost(post)">
                <img
                  [src]="getImageForPost(post.postID)"
                  class="post-image"
                  crossorigin="anonymous"
                />
                <div class="post-detail">
                  <h3>{{ post.name }}</h3>
                  <p>
                    {{ post.breed }},
                    @if (this.genderListForDisplay.items[0].id === post.genderID) {
                      Female
                    } @else {
                      Male
                    }
                  </p>

                  <p>{{ post.dateAdded | date: 'short' }}</p>
                </div>
              </div>
            }
          } @else if (!imagesLoaded) {
            <div class="loading-container">
              <br />
              <p class="loading-spinner-text">Loading posts</p>
              <mat-spinner></mat-spinner>
            </div>
          }
        </div>
      </div>
      <button class="primarybtn" routerLink="/catalog">TAKE ME THERE!</button>
    </div>
  -->
      <app-footer></app-footer>
    </div>
    <app-footer></app-footer>
  </body>
</html>
