span{
    color:#51432D;
}

body{
    background-color: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(187, 116, 34, 0.2) 100%), #E5D7C4 !important; 
}

.login-container{
    margin:auto;
    margin-top:60px;
    height:500px;
    width:600px;
    background-image:linear-gradient(#b2996f, #dbc49b);
    background-size: cover;
    border-radius: 20px;
    border:5px solid #51432D;
    box-shadow: 5px 10px 18px #888888; 
    position:relative;
    display:flex;
    justify-content: space-between;
} 
.login-container #prijava{
    position:absolute;
    z-index:10;
    top:10%;
    left:48%;
}

.login-container .primarybtn{
    position:absolute;
    bottom:30px;
    right:30px;
    padding:10px 30px;
}

.login-container .secondarybtn{
    position:absolute;
    bottom:30px;
    right:150px;
    padding:10px 20px;
}
.login-inputs{
    margin-top:150px;
    width:60%;
    display:flex;
    flex-direction:column;
    gap:40px;
    padding: 0 40px;
}

.login-inputs .form-group{
    width:100%;
    display:block;
}

.login-inputs label{
    display:block;
    text-align:right;
    margin-bottom:6px;
    color:#51432D;
    font-weight:600;
}

.login-inputs input{
    width:90%;
    max-width:480px;
    border-radius:15px;
    border:2px solid #51432D;
    padding:8px 12px;
    background-color:#E5D7C4;
    margin-left:15%;
}

.logo-container{
    margin-top:75px;
    margin-left:25px;
    
    background-position: center;
    width:300px;
    height:370px;
    text-align: center;
    border-radius:20px;
}

.input-wrapper{
    position:relative;
}
.input-wrapper .svg-holder{
    position:absolute;
    right:-5px;
    top:7px;
    cursor:pointer;
}

.step{
    top:10px;
    left:47%;
    position:absolute;
    z-index:100;
    width:100px;
    height:100px;
    background-color: #354024;
    border-radius:100px;
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.35);

}

.step #SVGRepo_iconCarrier{
    background-color: red;
}

.error-text{
    color:red;
    font-size:smaller;
    text-align:right;
    margin-left:40px;
}


.forgot-password{
 color:#354024;
 font-style:italic;
 text-decoration-line:1px solid; 
 font-size:smaller; 
 cursor:pointer;
}