// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming




@use '@angular/material' as mat;
@import '@ng-select/ng-select/themes/default.theme.css';

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$orange-palette,
        tertiary: mat.$orange-palette,
      ),
      font-family:nunito,
      density: 0,
    )
  );
}
html {
  height: 100%;;
  margin: 0;
   background-image: linear-gradient(#e5d7c4,#c9ab81);
   background-size: cover;
}
*{
    font-family:nunito, sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.mat-mdc-form-field {
  border-radius: 100px; /* Adjust to match your ng-select */
  height:75px;
}

/* Target the actual input wrapper */
.mat-mdc-text-field-wrapper {
  border-radius: 100px !important;
  height:75px !important;
  padding:0px;
}

.primarybtn {
  background-color: #354024;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: #c7b18c;
  color: #c7b18c;
  font-size: medium;
  box-shadow: 0px 4px 6px #25190b;
}
.primarybtn:hover {
  background-color: #424f2d;
  color: #c7b18c;
  border-color: #c7b18c;
}
.primarybtn:active {
  background-color: #252d19;
  color: #c7b18c;
  border-color: #c7b18c;
}
.secondarybtn {
  background-color: #c7b18c;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: #51432d;
  color: #51432d;
  font-size: medium;
  box-shadow: 0px 4px 6px #25190b;
}

.secondarybtn:hover {
  background-color: #d9c6a5;
  color: #51432d;
  border-color: #51432d;
}

.secondarybtn:active {
  background-color: #b39b71;
  color: #51432d;
  border-color: #51432d;
}
.ng-select {
  border-radius: 10px;
  background-color: #f3e9db;
  width: 17em;
  border-radius: 100px;
}
.ng-select .ng-select-container {
  border: 0px;
  color: #493c1d;
  background-color: #f3e9db;
  font-style: italic;
  font-size: large;
  border-radius: 100px;
}
.ng-select-container .ng-input {
  padding: 0px;
}
.ng-select .ng-dropdown-panel {
  border-radius: 100px;
  margin: 0px;
  border: 0px;
  background-color: #f3e9db;
}
