<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <title>PawPal</title>
  </head>
  <body>
    <div class="catalog-container">
      <app-navbar [roleId]="currentUser.roleid()"></app-navbar>
      <div class="header-sort">
        <div class="select-container">
          <div class="select-child">
            <label for="category-select">Categories</label>
            <mat-form-field class="custom">
              <mat-select
                [(ngModel)]="selectedCat"
                placeholder="Choose an animal category"
                (selectionChange)="getBreedSelect()"
              >
                @for (cat of animalCategories.items; track cat) {
                  <mat-option [value]="cat.id">
                    {{ cat.categoryName }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="select-child">
            <label for="breed-select">Breed</label>
            <mat-form-field class="custom">
              <mat-select placeholder="Choose an animal breed">
                @for (breed of breedArr; track breed) {
                  <mat-option [value]="breed.name">
                    {{ breed.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="select-child">
            <label for="gender-select">Gender</label>
            <mat-form-field class="custom">
              <mat-select [(ngModel)]="selectedGender" placeholder="Choose gender">
                @for (gen of genderList.items; track gen) {
                  <mat-option [value]="gen.name">
                    {{ gen.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="select-child">
            <label for="canton-select">Cantons</label>
            <mat-form-field class="custom">
              <mat-select
                [(ngModel)]="selectedCanton"
                placeholder="Choose canton"
                (selectionChange)="changeCity()"
              >
                @for (can of cantonsList.items; track can) {
                  <mat-option [value]="can">
                    {{ can.fullName }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="select-child">
            <label for="city-select">City</label>
            <mat-form-field class="custom">
              <mat-select [(ngModel)]="selectedCity" placeholder="Choose city">
                @for (cit of selectedCanton?.cities; track cit) {
                  <mat-option [value]="cit.id">
                    {{ cit.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="select-child">
            <label for="date-form">Date</label>
            <mat-form-field class="date-form">
              <mat-date-range-input [rangePicker]="picker" [formGroup]="datePicker" disabled>
                <input
                  matInput
                  matStartDate
                  placeholder="Start date"
                  #fromInputMin
                  formControlName="start"
                />
                <input
                  matInput
                  matEndDate
                  placeholder="End date"
                  #fromInputMax
                  formControlName="end"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
        <div class="header-buttons">
          <button (click)="searchCatalog()" class="primarybtn">SEARCH</button>
          <button (click)="clearSearch()" class="secondarybtn">CLEAR</button>
        </div>
      </div>
      <div class="header-posts-container">
        <div class="header-posts-title">
          <p>Vaš rezultat pretrage:</p>
        </div>
        <div class="header-posts">
          @if (animalPosts | async; as posts) {
            @for (post of posts.items; track post) {
              <div class="post" (click)="routeToPost(post)">
                <img [src]="getPostImage(post.postID)" class="post-image" />
                <div class="post-detail">
                  <h3>{{ post.name }}</h3>
                  <p>{{ post.breed }}</p>
                  <p>{{ post.dateAdded | date: 'short' }}</p>
                </div>
              </div>
            }
          }
        </div>
      </div>
      <mat-paginator
        [length]="page.totalItems"
        [pageSize]=""
        [pageSizeOptions]="page.pageSizeOption"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>
  </body>
</html>
