.navbar {
  width: 100%;
  height: 75px;
  background-color: #473619;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #2e2310, #473619);
}
.navcontent .primarybtn {
  padding: 10px 20px;
}
.navcontent .secondarybtn {
  padding: 10px 20px;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: #493c1d;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo {
  background-color: #e5d7c4;
  width: 170px;
  height: 50px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

.navcontent {
  display: flex;
  gap: 18px;
  align-items: center;
}

.navcontent a {
  color: #c7b18c;
  padding: 8px 12px;
}

.navcontent a:hover {
  color: #9e8a68;
}
.catalog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navcontent a {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  text-align: center;
  border-left: 1px solid #c7b18c;
}
.header-sort {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  height: 100%;
  gap: 15px;
}
.select-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.select-child label {
  margin-left: 10px;
}
.select-child {
  display: grid;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.select-bar {
  margin-top: 2px;
  border-radius: 100px;
  background-color: #f3e9db;
  padding: 10px;
  width: 15em;

  font-size: large;
  font-style: italic;
  font-weight: lighter;
  color: #493c1d;
}
.header-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 30px;
  width: 40%;
}
.header-buttons button {
  width: 100%;
  padding: 0px 0px 0px 0px;
  height: 50px;
}
.header-buttons .secondarybtn {
  position: relative;
  top: 45%;
}
.header-buttons .primarybtn {
  position: relative;
  top: 35%;
}
.header-posts-container {
  display: grid;
  margin-top: 50px;
  background-color: rgb(83, 68, 49);
  padding: 15px;
  border: 1px solid rgb(83, 68, 49);
  border-radius: 10px;
  width: 90%;
}
.header-posts-title {
  position: relative;
  top: 25px;
  justify-self: center;
  width: 20%;
  text-align: center;
  color: white;
  background-color: rgb(58, 67, 40);
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px;
  font-size: 25px;
  font-weight: 100;
}
.header-posts {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5%;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 100px;
}

.header-posts-title p {
  margin: 0px;
}
.post {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  height: 300px;
}
.post-image-container {
  background-image: url('./images/header-photo.jpg');
  border: 0px solid black;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.post-detail {
  background-color: rgb(202, 184, 146);
  border-radius: 0px 0px 10px 10px;
}
.post-detail h3 {
  margin-top: 0px;
}
.post-detail p {
  margin-bottom: 0px;
}
.ng-select.custom .ng-select-container.ng-has-value {
  font-weight: bold;
  border-radius: 10px;
}
.mat-mdc-form-field.date-form .mat-mdc-text-field-wrapper {
  border-radius: 100px;
}
@media (max-width: 1400px) {
  .header-sort {
    grid-template-columns: repeat(1, 1fr);
  }
  .select-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }
  .header-buttons {
    width: 100%;
    margin: 0px 0px 10px 0px;
    justify-content: center;
    align-items: center;
  }
  .header-buttons button {
    width: 50%;
  }
  .header-posts-container {
    margin-top: 100px;
  }
}
