.footer {
  width: 100%;
  height: 100px;
  background-color: #493c1d;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo {
  background-color: #e5d7c4;
  width: 170px;
  height: 50px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}
.catalog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-sort {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  height: 100%;
  gap: 15px;
}
.select-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.select-child label {
  margin-left: 10px;
}
.select-child {
  display: block;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
}

.select-bar {
  margin-top: 2px;
  border-radius: 100px;
  background-color: #f3e9db;
  padding: 10px;
  width: 15em;

  font-size: large;
  font-style: italic;
  font-weight: lighter;
  color: #493c1d;
}
.header-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
  margin-left: 50px;
  width: 80%;
}
.header-buttons button {
  width: 100%;
  padding: 15px 60px 15px 25px;
  height: 50px;
  margin-top: 25px;
}
.header-buttons .secondarybtn {
  position: relative;
  top: 45%;
}
.header-buttons .primarybtn {
  position: relative;
  top: 35%;
}
.header-posts-container {
  display: grid;
  margin-top: 50px;
  background-color: rgb(83, 68, 49);
  padding: 15px;
  border: 1px solid rgb(83, 68, 49);
  border-radius: 10px;
  width: 90%;
}
.header-posts-title {
  position: relative;
  top: 25px;
  justify-self: center;
  width: 20%;
  text-align: center;
  color: white;
  background-color: rgb(58, 67, 40);
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px;
  font-size: 25px;
  font-weight: 100;
}
.header-posts {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5%;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 100px;
}

.header-posts-title p {
  margin: 0px;
}
.post {
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.post-image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.post-detail {
  background-color: rgb(202, 184, 146);
  border-radius: 0px 0px 10px 10px;
}
.post-detail h3 {
  margin-top: 0px;
}
.post-detail p {
  margin-bottom: 0px;
}
.ng-select.custom .ng-select-container.ng-has-value {
  font-weight: bold;
  border-radius: 10px;
}
.mat-mdc-form-field.date-form .mat-mdc-text-field-wrapper {
  border-radius: 100px;
}
@media (max-width: 1400px) {
  .header-sort {
    grid-template-columns: repeat(1, 1fr);
  }
  .select-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }
  .header-buttons {
    width: 100%;
    margin: 0px 0px 10px 0px;
    justify-content: center;
    align-items: center;
  }
  .header-buttons button {
    width: 50%;
  }
  .header-posts-container {
    margin-top: 100px;
  }
}

//iris' changess
.ng-select.custom {
  padding: 5px;
  box-shadow: 0px 4px 6px #b09c85;
}

label {
  color: #544120;
  font-weight: bold;
}
