.register-container{
     margin:auto;
    margin-top:60px;
    height:525px;
    width:700px;
    background-image:linear-gradient(#b2996f, #dbc49b);
    background-size: cover;
    border-radius: 20px;
    border:3px solid #51432D;
    box-shadow: 5px 10px 18px #888888; 
    padding:5px;
}

.register-container mat-stepper{
    height:600px;
    background-color: transparent;
}

.input{
    border-radius:20px;
    border:2px solid #E5D7C4;
    padding:10px 22px;
    background-color:#E5D7C4;
    box-shadow:0px 5px 5px #756751;
    font-style: italic;
    font-size:medium;
}
.ng-select.options{
       padding:5px;
    background-color:#E5D7C4;
      
    box-shadow:0px 5px 5px #756751;
}

::ng-deep .ng-select.options .ng-option,
::ng-deep .ng-select.options .ng-option.ng-option-selected,
::ng-deep .ng-select.options .ng-option.ng-option-marked,
::ng-deep .ng-select.options .ng-option:hover,
::ng-deep .ng-select.options .ng-select-container  {
  background-color: #E5D7C4 !important;
}

.options{
    position:absolute;
    right:-10px;
    width:255px;
    padding:0px;
    border-radius:20px;

}
.form-container{
    position:relative;
    display:flex;
    margin-top:25px;
    margin-bottom:25px;
}

.form-container .primarybtn{
    position:absolute;
    right:10px;
}

.form-group{
    width:65%;
    height:80px;
    margin-left:100px;
    position:relative;
}
.form-group input{
    position:absolute;
    right:-10px;
}
label{
    display:block;
    text-align:right;
    color:#51432D;
    font-weight:600;
}

form{
    width:50%;
    margin-bottom:25px;
}

.logo-container{
    background-position: center;
    width:300px;
    height:370px;
    text-align: center;
    border-radius:20px;
}
.forgot-password{
 color:#354024;
 font-style:italic;
 text-decoration-line:1px solid; 
 font-size:smaller; 
 cursor:pointer;
}

span{
    color:#51432D;
}
