.logout-container{
    margin:auto;
    margin-top:300px;
    height:100px;
    width:500px;
    background-color: #C7B18C;
    border-radius: 20px;
    border:5px solid #51432D;
    box-shadow: 5px 10px 18px #888888; 
    text-align:center;
    align-items: center;
}

.logout-container p{
    font-size:larger;
    color:#51432D;
}