<div class="client-content-posts-container">
  <h1 class="my-post-title">MY POSTS</h1>
  <div class="client-content-posts">
    @if (animalPostList | async; as posts) {
      @for (post of posts.items; track post) {
        <div class="post" (click)="loadPost(post)">
          <div class="post-image">
            <img [src]="post.firstImage == '' ? '' : envLink.apiUrl + post.firstImage" />
          </div>
          <div class="post-info">
            <p class="post-info-name">{{ post.animalName }}</p>
            <p class="post-info-views">0 views</p>
          </div>
        </div>
      }
    } @else if (!isLoaded) {
      <div class="loading-container">
        <br />
        <p class="loading-spinner-text">Loading posts</p>
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
  <mat-paginator
    [length]="page.totalItems"
    [pageSize]=""
    [pageSizeOptions]="page.pageSizeOption"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</div>
