<app-navbar [roleId]="currentUser.roleid()"></app-navbar>
<div class="client-layout-container">
  <div class="client-layout">
    <app-user-profile-side-navbar class="client-side-navbar"></app-user-profile-side-navbar>
    <div class="client-content-posts-container">
      <h1>PUBLIC POSTS:</h1>
      <div class="client-content-posts">
        @if (animalPostList | async; as posts) {
          @for (post of posts.items; track post) {
            <div class="post" (click)="loadPost(post)">
              <div class="post-image">
                <img [src]="post.firstImage == '' ? '' : envLink.apiUrl + post.firstImage" />
              </div>
              <div class="post-info">
                <p class="post-info-name">{{ post.animalName }}</p>
                <p class="post-info-views">1,234 views</p>
              </div>
            </div>
          }
        }
      </div>
      <mat-paginator
        [length]="page.totalItems"
        [pageSize]=""
        [pageSizeOptions]="page.pageSizeOption"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
