.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.post-image {
  width: 90%;
  border: 5px solid black;
  height: 350px;
  border-radius: 10px;
}
.post-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(72, 59, 40);
  width: 90%;
  margin-top: 50px;
  border-radius: 0px;
  border: 1px solid rgb(72, 59, 40);
  border-radius: 10px;
  justify-content: center;
  padding: 10px;
}
.pet-name {
  color: #e5d7c4;
  font-weight: 100;
  font-size: 30px;
  margin-top: 10px;
}
.post-information {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 90%;
  border-radius: 10px;
}
.post-information-pet-info {
  display: grid;
  gap: 10px;
  background-color: rgb(82, 67, 48);
  grid-template-columns: 50% 50%;
  border: 1px solid green;
  color: #e5d7c4;
  font-size: 20px;
}
.post-information-pet {
  width: 95%;
  display: flex;
  flex-direction: column;
}
.post-information-pet-attributes {
  text-align: right;
}
.post-information-pet-attributes-values {
  text-align: left;
}
.post-information-pet-add-info {
  width: 100%;
}
.post-information-pet-add-info-text {
  background-color: red;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding: 5x;
}
.post-information-pet-add-info-label {
  color: #e5d7c4;
  margin: 15px 0px 0px 0px;
}
.post-information-user {
  border: 1px solid red;
  background-color: rgb(72, 59, 40);
}
