.user-profile-option-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  width: 80%;
  margin-top: 150px;
  margin-bottom: 200px;
}
.user-profile-option {
  font-size: 25px;
  font-weight: 100;
  border-bottom: 1px solid black;
  padding: 15px;
  width: 100%;
  --mat-list-active-indicator-shape: 0px;
}
.user-profile-option:hover {
  cursor: pointer;
  background-color: rgb(189, 167, 130);
}
.user-profile-option-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 22px;
  background-color: rgb(125, 80, 2);
  padding: 30px;
  position: relative;
  top: 20px;
}
.user-profile-option-bold {
  font-weight: bold;
}
