<div class="password-recovery-wrapper">
  <mat-stepper #stepper linear="true" class="create-stepper">
    <mat-step [stepControl]="emailFormGroup">
      <div class="login-container">
        <p class="title">Recover password</p>
        <form [formGroup]="emailFormGroup" class="login-inputs">
          <label for="email">E-mail</label>
          <mat-form-field class="options">
            <input
              matInput
              type="text"
              id="email"
              formControlName="email"
              required
              placeholder="e.g. user123@gmail.com"
            />
          </mat-form-field>
          <button type="submit" class="primarybtn" (click)="checkEmail()">Check</button>
        </form>
        @if (change()) {
          <p class="security-title">Security questions</p>
          <form class="security-form" [formGroup]="securityFormGroup">
            <div class="security-form-container">
              <mat-form-field>
                <mat-select
                  placeholder="Select first question"
                  required
                  formControlName="firstQuestion"
                >
                  @for (sec of securityQuestionList(); track sec) {
                    <mat-option
                      [value]="sec.id"
                      [disabled]="doesItExist(sec.id, 'second') || doesItExist(sec.id, 'third')"
                      >{{ sec.question }}</mat-option
                    >
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="firstAnswer" placeholder="First answer" required />
              </mat-form-field>
            </div>
            <div class="security-form-container">
              <mat-form-field>
                <mat-select
                  placeholder="Select second question"
                  required
                  formControlName="secondQuestion"
                >
                  @for (sec of securityQuestionList(); track sec) {
                    <mat-option
                      [value]="sec.id"
                      [disabled]="doesItExist(sec.id, 'first') || doesItExist(sec.id, 'third')"
                      >{{ sec.question }}</mat-option
                    >
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="secondAnswer"
                  placeholder="Second answer"
                  required
                />
              </mat-form-field>
            </div>
            <div class="security-form-container">
              <mat-form-field>
                <mat-select
                  placeholder="Select third question"
                  required
                  formControlName="thirdQuestion"
                >
                  @for (sec of securityQuestionList(); track sec) {
                    <mat-option
                      [value]="sec.id"
                      [disabled]="doesItExist(sec.id, 'second') || doesItExist(sec.id, 'first')"
                      >{{ sec.question }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="thirdAnswer" placeholder="Third answer" required />
              </mat-form-field>
            </div>
          </form>
          <div class="buttons-wrapper">
            <button class="primarybtn" style="width: 150px" (click)="checkAnswers(stepper)">
              CHECK ANSWERS
            </button>
            <button class="secondarybtn" style="width: 150px" (click)="getMeBack()">CANCEL</button>
          </div>
        } @else {
          <p class="security-under-title">
            Check your email to get correct questions for your password recovery
          </p>
        }
        @if (loading()) {
          <div class="loading-container">
            <br />
            <p class="loading-spinner-text">Loading posts</p>
            <mat-spinner></mat-spinner>
          </div>
        } @else if (error()) {
          <div class="loading-spinner-text">
            Wrong email or the email does not have security questions enabled
          </div>
        }
      </div>
    </mat-step>
    <mat-step [stepControl]="passwordFormGroup">
      <div class="login-container">
        <p class="title">Set up a new password</p>

        <form class="login-inputs" [formGroup]="passwordFormGroup">
          <label>Password</label>
          <mat-form-field>
            <input
              matInput
              formControlName="password"
              placeholder="Password"
              required
              type="password"
            />
            <button
              matSuffix
              mat-icon-button
              type="button"
              (click)="togglePassword()"
              class="eye-btn"
            >
              <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field>
          <label>Confirm password</label>
          <mat-form-field>
            <input
              matInput
              formControlName="secondPassword"
              placeholder="Confirm password"
              required
              type="password"
            />
            <button
              matSuffix
              mat-icon-button
              type="button"
              (click)="togglePassword()"
              class="eye-btn"
            >
              <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field>
        </form>
        <div class="buttons-wrapper">
          <button class="primarybtn" style="width: 150px">SAVE PASSWORDS</button>
          <button class="secondarybtn" style="width: 150px" (click)="getMeBack()">CANCEL</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
