<div class="footer-main">
      <div class="footer-content">
        <div class="footer-left">
          <h2 class="footer-title">Encountering problems?</h2>
          <p class="footer-description">
            Our customer service is always available.<br />
            Fill the form below and we'll get in touch as soon as possible.
          </p>
          <textarea
            class="footer-textarea"
            placeholder="Describe your problem/Ask your question."
            rows="4"
          ></textarea>
          <div class="footer-buttons">
            <button class="secondarybtn" (click)="clearText()">CLEAR</button>
            <button class="primarybtn">SEND</button>
          </div>
        </div>
        <div class="footer-right">
          <div class="footer-nav-column">
            <h3 class="footer-nav-title">NEWS</h3>
            <ul class="footer-nav-list">
              <li><a href="#" class="footer-nav-link" routerLink="/user-stories">USER STORIES</a></li>
              <li><a href="#" class="footer-nav-link"routerLink="/news">NEWS</a></li>
            </ul>
          </div>
          <div class="footer-nav-column">
            <h3 class="footer-nav-title">ABOUT US</h3>
            <ul class="footer-nav-list">
              <li><a href="#" class="footer-nav-link">WHO ARE WE?</a></li>
              <li><a href="#" class="footer-nav-link">CONTACT</a></li>
            </ul>
          </div>
          <div class="footer-nav-column">
            <h3 class="footer-nav-title">TIPS</h3>
            <ul class="footer-nav-list">
              <li><a href="#" class="footer-nav-link">FAQ</a></li>
              <li><a href="#" class="footer-nav-link">CATEGORIES</a></li>
            </ul>
          </div>
          <div class="footer-nav-column">
            <h3 class="footer-nav-title">ANIMAL CATALOG</h3>
            <ul class="footer-nav-list">
              <li><a routerLink="/catalog" class="footer-nav-link" routerLink="/catalog">CATALOG</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>
          ©This seminar project is done by Iris-Zain Kazazić and Abdulah Kotorić. Faculty of
          Information Technology in Mostar - 2026
        </p>
      </div>
    </div>