USE [master]
GO
/****** Object:  Database [PawPal_db]    Script Date: 7/31/2026 4:20:12 PM ******/
CREATE DATABASE [PawPal_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PawPal_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PawPal_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PawPal_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PawPal_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PawPal_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PawPal_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/31/2026 4:20:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdoptionRequests]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdoptionRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[DateSent] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[RequirementId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_AdoptionRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdoptionRequirements]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdoptionRequirements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HouseType] [nvarchar](max) NOT NULL,
	[PeopleCount] [int] NOT NULL,
	[ChildrenAround] [bit] NULL,
	[ElderlyAround] [bit] NULL,
	[OtherPetsAround] [bit] NULL,
	[YardAvailable] [bit] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Aggressiveness] [bit] NULL,
	[Allergy] [bit] NULL,
	[ExpDetails] [nvarchar](max) NULL,
	[FinalComment] [nvarchar](max) NULL,
	[FloorNumber] [int] NULL,
	[HouseDetials] [nvarchar](max) NOT NULL,
	[IsGift] [bit] NULL,
	[PeopleAva] [nvarchar](max) NOT NULL,
	[PetExp] [bit] NULL,
	[PlanedStay] [nvarchar](max) NOT NULL,
	[SumMoney] [decimal](18, 2) NULL,
	[TakeBack] [bit] NULL,
	[YardDetails] [nvarchar](max) NULL,
 CONSTRAINT [PK_AdoptionRequirements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdoptionStories]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdoptionStories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoryText] [nvarchar](max) NULL,
	[AdoptionDate] [datetime2](7) NOT NULL,
	[DatePosted] [datetime2](7) NOT NULL,
	[PhotoURL] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_AdoptionStories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Allergies]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Allergies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnimalCategories]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_AnimalCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnimalHealthHistories]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalHealthHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vaccinated] [bit] NOT NULL,
	[SpayedOrNeutered] [bit] NOT NULL,
	[ParasiteFree] [bit] NOT NULL,
	[DietaryRestrictions] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
	[AnimalId] [int] NOT NULL,
 CONSTRAINT [PK_AnimalHealthHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnimalCharacteristics]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalCharacteristics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnimalId] [int] NOT NULL,
	[CharacteristicId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_AnimalCharacteristics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animals]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Breed] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[GenderId] [int] NOT NULL,
	[HasPapers] [bit] NOT NULL,
	[ChildFriendly] [bit] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Animals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnimalsAllergies]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalsAllergies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnimalHealthHistoryId] [int] NOT NULL,
	[AllergyId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_AnimalsAllergies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnimalsDisabilities]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalsDisabilities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnimalHealthHistoryId] [int] NOT NULL,
	[DisabilityId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_AnimalsDisabilities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Breeds]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breeds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Breeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cantons]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Abbreviation] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Cantons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[CantonId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[DatePosted] [datetime2](7) NOT NULL,
	[PostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User1Id] [int] NOT NULL,
	[User2Id] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disabilities]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disabilities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Disabilities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Characteristics]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characteristics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CharacteristicName] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Characteristics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LikedUserPosts]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikedUserPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[DateLiked] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_LikedUserPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PhotoURL] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
	[PublishedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostImages]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[PhotoURL] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
	[MainImage] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PostImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[DateAdded] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[CityId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
	[AnimalID] [int] NOT NULL,
	[AnimalHealthHistoryId] [int] NULL,
	[AnimalHistoryId] [int] NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TokenHash] [nvarchar](max) NOT NULL,
	[ExpiresAtUtc] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[Fingerprint] [nvarchar](max) NULL,
	[RevokedAtUtc] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportedComments]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportedComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CommentReportedBy] [int] NOT NULL,
	[CommentID] [int] NOT NULL,
	[DateReported] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_ReportedComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportedPosts]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportedPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PostID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
	[DateSent] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ReportedPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportedUsers]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportedUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReportUserEnum] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ReportedUserID] [int] NOT NULL,
	[ReportSentByUserID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
	[DateSent] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ReportedUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportProblems]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportProblems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[DateSent] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_ReportProblems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityAnswers]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_SecurityAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityQuestions]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_SecurityQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDisabledHistory]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDisabledHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DateWhenDisabled] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_UserDisabledHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserImage]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[PhotoURL] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_UserImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[TokenVersion] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
	[BirthDate] [datetime2](7) NULL,
	[CityId] [int] NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[OnlineStatus] [bit] NOT NULL,
	[ProfilePictureURL] [nvarchar](max) NULL,
	[RoleId] [int] NULL,
	[LastOnline] [datetime2](7) NULL,
	[Username] [nvarchar](max) NULL,
	[EmailConfirmationToken] [nvarchar](max) NULL,
	[IsEmailConfirmed] [bit] NOT NULL,
	[FcmToken] [nvarchar](max) NULL,
	[AboutMe] [nvarchar](max) NULL,
	[EmailConfirmationTokenExpiresAt] [datetime2](7) NULL,
	[isUserDisabled] [bit] NOT NULL,
	[EmailChangeToken] [nvarchar](max) NULL,
	[EmailChangeTokenExpiresAt] [datetime2](7) NULL,
	[PendingEmail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserToUserMessages]    Script Date: 7/31/2026 4:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserToUserMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[RecieverID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[DateSent] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ModifiedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_UserToUserMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251021091958_A', N'8.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251027130908_AddedAnimals', N'8.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251027141802_AddedLocations', N'8.0.21')
GO
SET IDENTITY_INSERT [dbo].[Allergies] ON 

INSERT [dbo].[Allergies] ([Id], [Name], [Description], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'Pollen allergy', N'Pets with pollen allergies have overactive immune systems that treat pollen as a threat. Your pet’s body then responds to this “threat” with the pollen allergy symptoms you’ve probably noticed, like itchy, watery eyes, inflamed skin, sneezing, or hives.', 0, CAST(N'2026-07-31T14:02:37.0749537' AS DateTime2), NULL)
INSERT [dbo].[Allergies] ([Id], [Name], [Description], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'Protein allergy', N'Proteins like beef, chicken, dairy, or fish are common triggers for allergies in pets because our pets eat them most frequently.An allergy can occur after an animal is exposed to it long term. Symptoms include: hair loss, vomiting, diarrhea, infections and more.', 0, CAST(N'2026-07-31T14:02:37.0749528' AS DateTime2), NULL)
INSERT [dbo].[Allergies] ([Id], [Name], [Description], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (3, N'Flea allergy', N'Flea allergy dermatitis (FAD) is an allergy, more specifically, a hypersensitivity reaction against the proteins in the flea''s saliva. Common symptoms of flea allergy dermatitis in dogs include hair loss, crusting of the skin, itching and scratching, anemia, and lethargy.', 0, CAST(N'2026-07-31T14:02:37.0749491' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Allergies] OFF
GO
SET IDENTITY_INSERT [dbo].[AnimalCategories] ON 

INSERT [dbo].[AnimalCategories] ([Id], [CategoryName], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'Cat', 0, CAST(N'2026-07-31T14:02:36.8176367' AS DateTime2), NULL)
INSERT [dbo].[AnimalCategories] ([Id], [CategoryName], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'Dog', 0, CAST(N'2026-07-31T14:02:36.8176362' AS DateTime2), NULL)
INSERT [dbo].[AnimalCategories] ([Id], [CategoryName], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (3, N'Fish', 0, CAST(N'2026-07-31T14:02:36.8176353' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[AnimalCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[AnimalHealthHistories] ON 

INSERT [dbo].[AnimalHealthHistories] ([Id], [Vaccinated], [SpayedOrNeutered], [ParasiteFree], [DietaryRestrictions], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc], [AnimalId]) VALUES (1, 0, 0, 1, N'None', 0, CAST(N'2026-07-31T14:02:37.4340126' AS DateTime2), NULL, 1)
INSERT [dbo].[AnimalHealthHistories] ([Id], [Vaccinated], [SpayedOrNeutered], [ParasiteFree], [DietaryRestrictions], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc], [AnimalId]) VALUES (2, 1, 1, 1, N'Do not feed too much, she is fat', 0, CAST(N'2026-07-31T14:02:37.5083844' AS DateTime2), NULL, 2)
INSERT [dbo].[AnimalHealthHistories] ([Id], [Vaccinated], [SpayedOrNeutered], [ParasiteFree], [DietaryRestrictions], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc], [AnimalId]) VALUES (3, 0, 0, 1, N'None', 0, CAST(N'2026-07-31T14:02:37.5530795' AS DateTime2), NULL, 3)
SET IDENTITY_INSERT [dbo].[AnimalHealthHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Animals] ON 

INSERT [dbo].[Animals] ([Id], [Name], [Breed], [Age], [GenderId], [HasPapers], [ChildFriendly], [CategoryId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'Krompir', N'British Shorthair', 2, 2, 0, 1, 1, 0, CAST(N'2026-07-31T14:02:37.3213022' AS DateTime2), NULL)
INSERT [dbo].[Animals] ([Id], [Name], [Breed], [Age], [GenderId], [HasPapers], [ChildFriendly], [CategoryId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'Kiki', N'German Shepherd', 1, 2, 0, 0, 2, 0, CAST(N'2026-07-31T14:02:37.3213007' AS DateTime2), NULL)
INSERT [dbo].[Animals] ([Id], [Name], [Breed], [Age], [GenderId], [HasPapers], [ChildFriendly], [CategoryId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (3, N'Loona', N'Budgerigar', 1, 2, 0, 1, 5, 0, CAST(N'2026-07-31T14:02:37.3212981' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Animals] OFF
GO
SET IDENTITY_INSERT [dbo].[AnimalsAllergies] ON 

INSERT [dbo].[AnimalsAllergies] ([Id], [AnimalHealthHistoryId], [AllergyId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, 1, 1, 0, CAST(N'2026-07-31T14:02:37.4719856' AS DateTime2), NULL)
INSERT [dbo].[AnimalsAllergies] ([Id], [AnimalHealthHistoryId], [AllergyId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, 3, 2, 0, CAST(N'2026-07-31T14:02:37.5599442' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[AnimalsAllergies] OFF
GO
SET IDENTITY_INSERT [dbo].[AnimalsDisabilities] ON 

INSERT [dbo].[AnimalsDisabilities] ([Id], [AnimalHealthHistoryId], [DisabilityId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, 2, 2, 0, CAST(N'2026-07-31T14:02:37.5331071' AS DateTime2), NULL)
INSERT [dbo].[AnimalsDisabilities] ([Id], [AnimalHealthHistoryId], [DisabilityId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, 4, 1, 0, CAST(N'2026-07-31T14:02:37.5765696' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[AnimalsDisabilities] OFF
GO
SET IDENTITY_INSERT [dbo].[Breeds] ON 

INSERT [dbo].[Breeds] ([Id], [Name], [CategoryID], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'British Shorthair', 1, 0, CAST(N'2026-07-31T14:02:37.0107903' AS DateTime2), NULL)
INSERT [dbo].[Breeds] ([Id], [Name], [CategoryID], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'Bengal', 1, 0, CAST(N'2026-07-31T14:02:37.0107895' AS DateTime2), NULL)
INSERT [dbo].[Breeds] ([Id], [Name], [CategoryID], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (3, N'Siamese', 1, 0, CAST(N'2026-07-31T14:02:37.0107885' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Breeds] OFF
GO
SET IDENTITY_INSERT [dbo].[Cantons] ON 

INSERT [dbo].[Cantons] ([Id], [FullName], [Abbreviation], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'Unsko-Sanski', N'USK', 0, CAST(N'2026-07-31T14:02:35.5556406' AS DateTime2), NULL)
INSERT [dbo].[Cantons] ([Id], [FullName], [Abbreviation], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'Zeničko-dobojski kanton', N'ZDK', 0, CAST(N'2026-07-31T14:02:35.5560120' AS DateTime2), NULL)
INSERT [dbo].[Cantons] ([Id], [FullName], [Abbreviation], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (3, N'Hercegovačko-neretvanski kanton', N'HNK', 0, CAST(N'2026-07-31T14:02:35.5560134' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Cantons] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [Region], [PostalCode], [CantonId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'Tešanj', N'?', N'74260', 2, 0, CAST(N'2026-07-31T14:02:35.9953433' AS DateTime2), NULL)
INSERT [dbo].[Cities] ([Id], [Name], [Region], [PostalCode], [CantonId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'Mostar', N'?', N'88000', 3, 0, CAST(N'2026-07-31T14:02:35.9953426' AS DateTime2), NULL)
INSERT [dbo].[Cities] ([Id], [Name], [Region], [PostalCode], [CantonId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (3, N'Bihać', N'?', N'77000', 1, 0, CAST(N'2026-07-31T14:02:35.9953405' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Disabilities] ON 

INSERT [dbo].[Disabilities] ([Id], [Name], [Description], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'Cerebellar Hypoplasia', N'Cerebellar Hypoplasia), abbreviated to CH, is a disorder found in cats and dogs which causes jerky movements, tremors, and generally uncoordinated motion, just like ataxic cerebral palsy in humans.', 0, CAST(N'2026-07-31T14:02:37.1306856' AS DateTime2), NULL)
INSERT [dbo].[Disabilities] ([Id], [Name], [Description], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'Blindness', N'Blindness has several causes. Cataract is treated surgically and glaucoma with eye drops or surgery. Other causes are trauma, abnormal blood vessel growth in premature birth and diabetes.', 0, CAST(N'2026-07-31T14:02:37.1306850' AS DateTime2), NULL)
INSERT [dbo].[Disabilities] ([Id], [Name], [Description], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (3, N'Deafness', N'Animals can lose or be born without the sense of hearing. Most commonly, deafness is associated with specific pigmentation phenotypes, including white coat color, and is heritable.', 0, CAST(N'2026-07-31T14:02:37.1306824' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Disabilities] OFF
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([Id], [GenderName], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'Male', 0, CAST(N'2026-07-31T14:02:36.8610323' AS DateTime2), NULL)
INSERT [dbo].[Genders] ([Id], [GenderName], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'Female', 0, CAST(N'2026-07-31T14:02:36.8610299' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Genders] OFF
GO
SET IDENTITY_INSERT [dbo].[PostImages] ON 

INSERT [dbo].[PostImages] ([Id], [PostId], [PhotoURL], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc], [MainImage]) VALUES (1, 1, N'["/posts/Post_1/cat1.jpeg","/posts/Post_1/cat2.jpeg","/posts/Post_1/cat3.jpeg","/posts/Post_1/cat4.jpeg"]', 0, CAST(N'2026-07-31T14:02:37.8216277' AS DateTime2), NULL, N'/posts/Post_1/cat1.jpeg')
INSERT [dbo].[PostImages] ([Id], [PostId], [PhotoURL], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc], [MainImage]) VALUES (2, 2, N'["/posts/Post_2/dog1.jpeg","/posts/Post_2/dog2.jpeg","/posts/Post_2/dog3.jpeg"]', 0, CAST(N'2026-07-31T14:02:37.9502830' AS DateTime2), NULL, N'/posts/Post_2/dog1.jpeg')
INSERT [dbo].[PostImages] ([Id], [PostId], [PhotoURL], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc], [MainImage]) VALUES (3, 3, N'["/posts/Post_3/bird1.jpeg","/posts/Post_3/bird2.jpeg"]', 0, CAST(N'2026-07-31T14:02:38.0286998' AS DateTime2), NULL, N'/posts/Post_3/bird1.jpeg')
SET IDENTITY_INSERT [dbo].[PostImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [Status], [DateAdded], [UserId], [CityId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc], [AnimalID], [AnimalHealthHistoryId], [AnimalHistoryId]) VALUES (1, N'active', CAST(N'2026-07-31T14:02:37.5989376' AS DateTime2), 2, 3, 0, CAST(N'2026-07-31T14:02:37.6560360' AS DateTime2), NULL, 1, NULL, 1)
INSERT [dbo].[Posts] ([Id], [Status], [DateAdded], [UserId], [CityId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc], [AnimalID], [AnimalHealthHistoryId], [AnimalHistoryId]) VALUES (2, N'active', CAST(N'2026-07-31T14:02:37.6450376' AS DateTime2), 2, 3, 0, CAST(N'2026-07-31T14:02:37.6560351' AS DateTime2), NULL, 2, NULL, 2)
INSERT [dbo].[Posts] ([Id], [Status], [DateAdded], [UserId], [CityId], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc], [AnimalID], [AnimalHealthHistoryId], [AnimalHistoryId]) VALUES (3, N'active', CAST(N'2026-07-31T14:02:37.6454297' AS DateTime2), 2, 4, 0, CAST(N'2026-07-31T14:02:37.6560341' AS DateTime2), NULL, 3, NULL, 3)
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[ReportProblems] ON 

INSERT [dbo].[ReportProblems] ([Id], [Description], [UserID], [DateSent], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'', 2, CAST(N'2026-07-31T14:04:01.5429988' AS DateTime2), 0, CAST(N'2026-07-31T14:04:01.5646688' AS DateTime2), NULL)
INSERT [dbo].[ReportProblems] ([Id], [Description], [UserID], [DateSent], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'kkk', 2, CAST(N'2026-07-31T14:04:05.3728784' AS DateTime2), 0, CAST(N'2026-07-31T14:04:05.3737020' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ReportProblems] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'Basic user', 0, CAST(N'2026-07-31T14:02:36.0641571' AS DateTime2), NULL)
INSERT [dbo].[Roles] ([Id], [RoleName], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'Verified user', 0, CAST(N'2026-07-31T14:02:36.0641566' AS DateTime2), NULL)
INSERT [dbo].[Roles] ([Id], [RoleName], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (3, N'Admin', 0, CAST(N'2026-07-31T14:02:36.0641540' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SecurityQuestions] ON 

INSERT [dbo].[SecurityQuestions] ([Id], [Question], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (1, N'What was the name of your first pet?', 0, CAST(N'2026-07-31T14:02:38.2707198' AS DateTime2), NULL)
INSERT [dbo].[SecurityQuestions] ([Id], [Question], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (2, N'What was the make and model of your first car?', 0, CAST(N'2026-07-31T14:02:38.2707186' AS DateTime2), NULL)
INSERT [dbo].[SecurityQuestions] ([Id], [Question], [IsDeleted], [CreatedAtUtc], [ModifiedAtUtc]) VALUES (3, N'In what city or town did your parents meet?', 0, CAST(N'2026-07-31T14:02:38.2707173' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[SecurityQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_AdoptionRequests_PostId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdoptionRequests_PostId] ON [dbo].[AdoptionRequests]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdoptionRequests_RequirementId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdoptionRequests_RequirementId] ON [dbo].[AdoptionRequests]
(
	[RequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdoptionRequests_UserId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdoptionRequests_UserId] ON [dbo].[AdoptionRequests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AdoptionStories_UserId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdoptionStories_UserId] ON [dbo].[AdoptionStories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnimalHealthHistories_AnimalId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnimalHealthHistories_AnimalId] ON [dbo].[AnimalHealthHistories]
(
	[AnimalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnimalCharacteristics_AnimalId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnimalCharacteristics_AnimalId] ON [dbo].[AnimalCharacteristics]
(
	[AnimalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnimalCharacteristics_CharacteristicId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnimalCharacteristics_CharacteristicId] ON [dbo].[AnimalCharacteristics]
(
	[CharacteristicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Animals_CategoryId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Animals_CategoryId] ON [dbo].[Animals]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Animals_GenderId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Animals_GenderId] ON [dbo].[Animals]
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnimalsAllergies_AllergyId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnimalsAllergies_AllergyId] ON [dbo].[AnimalsAllergies]
(
	[AllergyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnimalsAllergies_AnimalHealthHistoryId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnimalsAllergies_AnimalHealthHistoryId] ON [dbo].[AnimalsAllergies]
(
	[AnimalHealthHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnimalsDisabilities_AnimalHealthHistoryId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnimalsDisabilities_AnimalHealthHistoryId] ON [dbo].[AnimalsDisabilities]
(
	[AnimalHealthHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnimalsDisabilities_DisabilityId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnimalsDisabilities_DisabilityId] ON [dbo].[AnimalsDisabilities]
(
	[DisabilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Breeds_CategoryID]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Breeds_CategoryID] ON [dbo].[Breeds]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cities_CantonId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cities_CantonId] ON [dbo].[Cities]
(
	[CantonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PostId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PostId] ON [dbo].[Comments]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_UserId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_User1Id]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_User1Id] ON [dbo].[Conversations]
(
	[User1Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversations_User2Id]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Conversations_User2Id] ON [dbo].[Conversations]
(
	[User2Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LikedUserPosts_PostId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_LikedUserPosts_PostId] ON [dbo].[LikedUserPosts]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LikedUserPosts_UserId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_LikedUserPosts_UserId] ON [dbo].[LikedUserPosts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ConversationId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ConversationId] ON [dbo].[Messages]
(
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_SenderId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SenderId] ON [dbo].[Messages]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_AnimalHealthHistoryId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_AnimalHealthHistoryId] ON [dbo].[Posts]
(
	[AnimalHealthHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_AnimalID]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_AnimalID] ON [dbo].[Posts]
(
	[AnimalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_CityId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_CityId] ON [dbo].[Posts]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_UserId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_UserId] ON [dbo].[Posts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_UserId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReportedComments_CommentID]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReportedComments_CommentID] ON [dbo].[ReportedComments]
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SecurityAnswers_QuestionID]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_SecurityAnswers_QuestionID] ON [dbo].[SecurityAnswers]
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserDisabledHistory_UserID]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserDisabledHistory_UserID] ON [dbo].[UserDisabledHistory]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_CityId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_CityId] ON [dbo].[Users]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 7/31/2026 4:20:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdoptionRequests] ADD  DEFAULT ((0)) FOR [PostId]
GO
ALTER TABLE [dbo].[AdoptionRequests] ADD  DEFAULT ((0)) FOR [RequirementId]
GO
ALTER TABLE [dbo].[AdoptionRequirements] ADD  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[AdoptionRequirements] ADD  DEFAULT (N'') FOR [HouseDetials]
GO
ALTER TABLE [dbo].[AdoptionRequirements] ADD  DEFAULT (N'') FOR [PeopleAva]
GO
ALTER TABLE [dbo].[AdoptionRequirements] ADD  DEFAULT (N'') FOR [PlanedStay]
GO
ALTER TABLE [dbo].[AnimalHealthHistories] ADD  DEFAULT ((0)) FOR [AnimalId]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [PublishedAt]
GO
ALTER TABLE [dbo].[PostImages] ADD  DEFAULT (N'') FOR [MainImage]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [AnimalID]
GO
ALTER TABLE [dbo].[ReportedPosts] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateSent]
GO
ALTER TABLE [dbo].[ReportedUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateSent]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [OnlineStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsEmailConfirmed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [isUserDisabled]
GO
ALTER TABLE [dbo].[AdoptionRequests]  WITH CHECK ADD  CONSTRAINT [FK_AdoptionRequests_AdoptionRequirements_RequirementId] FOREIGN KEY([RequirementId])
REFERENCES [dbo].[AdoptionRequirements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdoptionRequests] CHECK CONSTRAINT [FK_AdoptionRequests_AdoptionRequirements_RequirementId]
GO
ALTER TABLE [dbo].[AdoptionRequests]  WITH CHECK ADD  CONSTRAINT [FK_AdoptionRequests_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdoptionRequests] CHECK CONSTRAINT [FK_AdoptionRequests_Posts_PostId]
GO
ALTER TABLE [dbo].[AdoptionRequests]  WITH CHECK ADD  CONSTRAINT [FK_AdoptionRequests_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AdoptionRequests] CHECK CONSTRAINT [FK_AdoptionRequests_Users_UserId]
GO
ALTER TABLE [dbo].[AdoptionStories]  WITH CHECK ADD  CONSTRAINT [FK_AdoptionStories_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdoptionStories] CHECK CONSTRAINT [FK_AdoptionStories_Users_UserId]
GO
ALTER TABLE [dbo].[AnimalHealthHistories]  WITH CHECK ADD  CONSTRAINT [FK_AnimalHealthHistories_Animals_AnimalId] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnimalHealthHistories] CHECK CONSTRAINT [FK_AnimalHealthHistories_Animals_AnimalId]
GO
ALTER TABLE [dbo].[AnimalCharacteristics]  WITH CHECK ADD  CONSTRAINT [FK_AnimalCharacteristics_Animals_AnimalId] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnimalCharacteristics] CHECK CONSTRAINT [FK_AnimalCharacteristics_Animals_AnimalId]
GO
ALTER TABLE [dbo].[AnimalCharacteristics]  WITH CHECK ADD  CONSTRAINT [FK_AnimalCharacteristics_Characteristics_CharacteristicId] FOREIGN KEY([CharacteristicId])
REFERENCES [dbo].[Characteristics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnimalCharacteristics] CHECK CONSTRAINT [FK_AnimalCharacteristics_Characteristics_CharacteristicId]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_AnimalCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[AnimalCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_AnimalCategories_CategoryId]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Genders_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Genders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Genders_GenderId]
GO
ALTER TABLE [dbo].[AnimalsAllergies]  WITH CHECK ADD  CONSTRAINT [FK_AnimalsAllergies_Allergies_AllergyId] FOREIGN KEY([AllergyId])
REFERENCES [dbo].[Allergies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnimalsAllergies] CHECK CONSTRAINT [FK_AnimalsAllergies_Allergies_AllergyId]
GO
ALTER TABLE [dbo].[AnimalsAllergies]  WITH CHECK ADD  CONSTRAINT [FK_AnimalsAllergies_AnimalHealthHistories_AnimalHealthHistoryId] FOREIGN KEY([AnimalHealthHistoryId])
REFERENCES [dbo].[AnimalHealthHistories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnimalsAllergies] CHECK CONSTRAINT [FK_AnimalsAllergies_AnimalHealthHistories_AnimalHealthHistoryId]
GO
ALTER TABLE [dbo].[AnimalsDisabilities]  WITH CHECK ADD  CONSTRAINT [FK_AnimalsDisabilities_AnimalHealthHistories_AnimalHealthHistoryId] FOREIGN KEY([AnimalHealthHistoryId])
REFERENCES [dbo].[AnimalHealthHistories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnimalsDisabilities] CHECK CONSTRAINT [FK_AnimalsDisabilities_AnimalHealthHistories_AnimalHealthHistoryId]
GO
ALTER TABLE [dbo].[AnimalsDisabilities]  WITH CHECK ADD  CONSTRAINT [FK_AnimalsDisabilities_Disabilities_DisabilityId] FOREIGN KEY([DisabilityId])
REFERENCES [dbo].[Disabilities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnimalsDisabilities] CHECK CONSTRAINT [FK_AnimalsDisabilities_Disabilities_DisabilityId]
GO
ALTER TABLE [dbo].[Breeds]  WITH CHECK ADD  CONSTRAINT [FK_Breeds_AnimalCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[AnimalCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Breeds] CHECK CONSTRAINT [FK_Breeds_AnimalCategories_CategoryID]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Cantons_CantonId] FOREIGN KEY([CantonId])
REFERENCES [dbo].[Cantons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Cantons_CantonId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Posts_PostId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserId]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Users_User1Id] FOREIGN KEY([User1Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Users_User1Id]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Users_User2Id] FOREIGN KEY([User2Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Users_User2Id]
GO
ALTER TABLE [dbo].[LikedUserPosts]  WITH CHECK ADD  CONSTRAINT [FK_LikedUserPosts_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[LikedUserPosts] CHECK CONSTRAINT [FK_LikedUserPosts_Posts_PostId]
GO
ALTER TABLE [dbo].[LikedUserPosts]  WITH CHECK ADD  CONSTRAINT [FK_LikedUserPosts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[LikedUserPosts] CHECK CONSTRAINT [FK_LikedUserPosts_Users_UserId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Conversations_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Conversations_ConversationId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users_SenderId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_AnimalHealthHistories_AnimalHealthHistoryId] FOREIGN KEY([AnimalHealthHistoryId])
REFERENCES [dbo].[AnimalHealthHistories] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_AnimalHealthHistories_AnimalHealthHistoryId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Animals_AnimalID] FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Animals_AnimalID]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Cities_CityId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories_CategoryId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[ReportedComments]  WITH CHECK ADD  CONSTRAINT [FK_ReportedComments_Comments_CommentID] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReportedComments] CHECK CONSTRAINT [FK_ReportedComments_Comments_CommentID]
GO
ALTER TABLE [dbo].[SecurityAnswers]  WITH CHECK ADD  CONSTRAINT [FK_SecurityAnswers_SecurityQuestions_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[SecurityQuestions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecurityAnswers] CHECK CONSTRAINT [FK_SecurityAnswers_SecurityQuestions_QuestionID]
GO
ALTER TABLE [dbo].[UserDisabledHistory]  WITH CHECK ADD  CONSTRAINT [FK_UserDisabledHistory_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDisabledHistory] CHECK CONSTRAINT [FK_UserDisabledHistory_Users_UserID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Cities_CityId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
USE [master]
GO
